@font-face {
    font-family: Arvo;
    src: url(../client/application/fonts/Arvo-Regular.ttf);
}

@font-face {
    font-family: Bevan;
    src: url(../client/application/fonts/Bevan.ttf);
}

/* for PureCss compatibility */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: Arvo, sans-serif;
}

.mna-auth h1 {
    text-align: center;
}

.mna-login h3, .mna-registration h3 {
    text-align: center;
}

.mna-auth-switch-controls {
    text-align: center;
}

.mna-auth-switch-controls button {
    text-align: center;
    width: 49%;
}

.mna-login-form fieldset {
    margin: auto;
}

.mna-register-email span,
.mna-register-password span,
.mna-register-username span {
    font-size: 0.8rem;
    text-align: right;
    display: block;
    margin-bottom: 6px;
    margin-right: 10%;
    color: #c34d34;
}

.mna-registration label:after {
    content: "*";
    color: #c34d34;
    margin-left: 4px;
}

.mna-menu {
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #BCBABE;;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.mna-menu-heading {
    text-align: center;
    font-size: 16px;
    background: #1995AD;
    padding: 20px 16px;
    color: #F1F1F2;
}

.mna-menu-userpic-container {
    border: 1px solid black;
    border-radius: 20px;
    width: 178px;
    height: 178px;
    overflow: hidden;
    margin: 20px auto auto;
}

.mna-menu-userpic-container a {
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 8px;
}

.mna-menu-userpic-container a img {
    height: 100%;
    width: 100%;
}

.mna-menu-ctrls{
    margin-top: 90px;
}

.mna-menu-ctrls li{
    margin-top: 12px;
}

.mna-menu-user-credentials {
    height: 50px;
    margin: 10px auto auto 15px;
    font-weight: bold;
    font-size: 18px;
}

.mna-menu-item-search {
    padding: 8px 16px;
}

.mna-menu-item-search input{
    width: 136px;
    height: 30px;
    padding: 1px 1px 1px 5px;
    border: none;
}

.mna-menu-item-search button{
    width: 32px;
    height: 33px;
    padding: 1px;
    border: none;
}

.mna-menu-user-credentials{
    margin-top: 15px;
}

.mna-menu-user-credentials span {
    display: block;
    margin-bottom: 7px;
}

.mna-newsfeed {

}

.mna-section-header {
    font-family: Bevan, serif;
    font-weight: 900;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: right;
}

.mna-newsfeed-site {
    display: inline-block;
}

.mna-newsfeed-pub-date {
    display: inline-block;
    float: right;
}

.mna-scrolltotop {
    background: red;
    padding: 5px;
    position: fixed;
    bottom: -75px;
    right: 50px;
    cursor: pointer;
}